
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "mixins";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*:focus {
    outline: none;
}

#main {
    padding: 5px;
}

#room-users {
    margin-bottom: 5px;
    height: 50px;
    .wrapper{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 .5em 0 .5em;
        .toggle-form {
            width: 40px;
            height: 40px;
            position: relative;
            top: 50%;
            margin-top: -20px;
            float: left;
            display: none;
            line-height: 40px;
            margin-right: 1em;
            cursor: pointer;
        }
        .media-form{
            height: 30px;
            float: left;
            width: 35%;
            position: relative;
            top: 50%;
            margin-top: -15px;
            * {
                height: 100%;
            }
            #media-url {
                padding: 0;
                padding-left: .5em;
                padding-right: 35px;
                border-radius: .5em;
                vertical-align: top;
                width: 100%;
                border: 1px solid #bbb;
            }
            #load-btn {
                width: 35px;
                margin-left: -35px;
                vertical-align: top;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .user-list {
            border: 0;
            float: left;
            height: 100%;
            margin-left: 1%;
            width: 64%;
            background: rgb(240, 240, 250);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border-radius: .5em;
            .users {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: hidden;
                flex: 1 1 auto;
                //margin: 0 .25em 0 .25em;
                .user-card {
                    flex: 0 0 auto;
                    height: 48px;
                    width: 50px;
                    margin: 0 10px 0 10px;
                    //border: 1px solid red;
                    .avatar-holder {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 25px;
                        .user-avatar {
                            max-width: 50px;
                            max-height: 50px;
                            height: auto;
                            width: auto;
                            margin: 0 auto;
                            margin-top: -5px;
                        }
                    }
                    .me {
                        border: 1px solid #006600;
                    }
                    .user-name {
                        position: relative;
                        display: block;
                        margin-top: -15px;
                        margin-left: -5px;
                        z-index: 999;
                        text-align: center;
                        background: #00CC00;
                        border: 1px solid #004400;
                        overflow: hidden;
                        color: #eee;
                        height: 15px;
                        font-size: 11px;
                        font-weight: bold;
                        border-radius: 10px 10px 0 0;
                        font-family: Arial;
                        width: 60px;
                        cursor: default;
                    }
                }
            }
            .prev-btn, .next-btn {
                height: 50px - 2px;
                width: 15px;
                line-height: 50px - 2px;
                flex: 0 0 auto;
            }
        }
    }
}

.lw-btn {
    display: inline-block;
    height: 30px;
    border: 1px solid #bbb;
    padding: 0;
    text-align: center;
    line-height: 30px;
    background: #eee;
    border-radius: .5em;
    cursor: default;
    user-select: none;
}

.lw-btn:hover {
    background: #ddd;
}

#player-wrapper {
    @include aspect-ratio(16, 9);
    padding: 0 5px 0 0;
    .content {
        right: 5px;
    }
    .card {
        height: 100%;
    }
    #player {
        width: 100%;
        height: 100%;
    }
}

#chat-wrapper {
    padding: 0 0 0 5px;
    .card{
        min-height: 365px;
        height: 365px;
    }
    .card-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        div {
            display: flex;
        }
        .messages {
            padding: 1em;
            overflow-y: scroll;
            flex: 1 1 0; // The 0 fixes a problem in non webkit browsers
            align-content: flex-start;
            flex-direction: column;
            flex-wrap: nowrap;
            .msg-content {
                flex: 0 0 auto;
                padding: 0 1em 0 1em;
                margin-bottom: 1em;
                width: 80%;
                display: flex;
                flex-direction: column-reverse;
                background-color: #ddd;
                border-radius: .5em;
                * {
                    display: flex;
                }
                .user {
                    justify-content: flex-end;
                    font-size: .7em;
                    height: 0;
                    color: #888;
                    text-align: left;
                }
                .msg-data {
                    display: inline-block;
                    word-wrap: break-word; 
                }
            }
            .mine {
                margin-left: 20%;
                background-color: rgb(24, 164, 207);
                .user {display:none;}
            }
        }
        .inputs {
            flex: 0 0 auto;
            display: flex;
            #msg-input {
                flex: 1 1 auto;
                padding-left: 1em;
                border-width: 1px 0 0 0;
                background-color: #eee;
            }
            #msg-btn {
                flex: 0 0 auto;
                border: 1px solid #aaa;
                background-color: #dadada;
            }
            #msg-btn:hover {
                background-color: #d0d0d0;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #room-users{ 
        .media-form {
            width: 40%;
        }
    }
    #player-wrapper, #chat-wrapper {
        padding: 0;
        .content {
            left: 0;
            right: 0;
        }
    }
    #chat-wrapper {
        .card-body {
            flex-direction: column-reverse;
            .messages{
                flex-direction: column-reverse;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    #room-users {
        .wrapper {
            .toggle-form {
                display: block; // WTF?!
            }
            .media-form {
                position: absolute;
                left: 15%;
                left: calc(1em + 40px);
                width: 85%;
                width: calc(100% - calc(1.5em + 40px));
                display: none;
            }
            .user-list {
                margin-left: 0;
                position: absolute;
                left: 15%;
                left: calc(1em + 40px);
                width: 85%;
                width: calc(100% - calc(1.5em + 40px));
            }
        }
    }
}